Package: com.github.aggalex.contacts-dbgsym
Package-Type: ddeb
Source: com.github.aggalex.contacts
Version: 0.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alex Angelou <ubuntu1aggelalex@gmail.com>
Installed-Size: 652
Depends: com.github.aggalex.contacts (= 0.1)
Section: debug
Priority: optional
Description: debug symbols for com.github.aggalex.contacts
Build-Ids: e5659c01bd2c8dfe7dacb6988bb42476385cd995
