[Desktop Entry]
Type=Application
Name[el]=Επαφές
Name[de]=Kontakte
Name[es]=Contactos
Name[ja]=連絡先
Name[it]=Contatti
Name[tr]=Kişiler
Name[fr]=Contacts
Name[nl]=Contacten
Name[uk]=Контакти
Name=Contacts
Comment=A simple contact manager
GenericName=Contact Manager
Exec=com.github.aggalex.contacts %U
Icon=com.github.aggalex.contacts
Terminal=false
Categories=Utility;GTK;
Keywords=People
